.borderElement{
    border-bottom: 1px solid black;
    border-top: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px 10px 10px 0px;
}
.tableSize{
    width: 1100px;
    
}
.start{
    display: flex;
    justify-content: start;
    padding-left: 60px;
}